<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {variant: 'pico'}); %>
  </head>
  <body>
    <h1>Welcome</h1>
    <ul>
      <li><a href="/scrape">Scrape</a></li>
      <li><a href="/scrape/starcraft2">Scrape Starcraft2</a></li>
      <li><a href="/scrape/league_of_legends">Scrape League_of_legends</a></li>
      <li><a href="/tally_fcc">Tally Freecodecamp</a></li>
      <li><a href="/form">Passcode Form</a></li>
      <li><a href="api/pricefeed">Crypto data</a></li>
    </ul>
  </body>
</html>
