<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {variant: 'pico'}); %>
  </head>
  <body>
    <h1>Results:</h1>
    <div>You submitted this passcode: <%= passcode %></div>
  </body>
</html>
